/******************************
Coperina exercise
******************************/

body {
    font-family: open Sans;
}

.your_avatar {
    display: block;
    margin-left: 860px;
    margin-right: 860px; 
    width: 160px;
    height: 160px;
}
.current_avatar{
    display: inline;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    
}
.current_avatar:hover {
    border: 1px solid black;
    border-radius: 50%;
}

.current_avatar.selected {
    border: 1px solid black;
    border-radius: 50%;
}
.popover{
    transform: scale(0) translateY(-20px);
    transition: transform .2s;
}
.popover.animate{
    display: inline;
    transform: scale(1) translateY(20px);
    transition: all .5s;
    
}

.triangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #2c3033;
}

.avatar_elements {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 250px; 
    border-radius: 2px;
    background: #2c3033;
    box-shadow: 2px 2px 10px #666666;
    padding: 14px;
}

.popover_title {
    color: #f9f9f9;
    margin-top: 14px;
    margin-bottom: 14px;
    text-align: center;
    font-size: 26px;
}

.avatar{
    
    display: inline;
    float: left;
}
.avatar >img{
    display: inline;
    width: 60px;
    height: 60px;
    margin: 14px;
    border: 3px solid transparent;
    border-radius: 50%;
    /*transition: transform 2s border border-top animation;
   */
}

.border {
    position: absolute;
    width: 60px;
    height: 60px;
    margin: 14px;
    border: 3px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 50%;
}
.border:hover {
    color: #7aa1b2;
    opacity: 0.8;
    border: 3px solid #9ba0a3;
    border-radius: 50%;
}
.border.animateBorder {
    border: 3px solid #7aa1b2;
    border-top: 3px solid #f9f9f9;
    border-radius: 50%;
    transform: rotate(90);
    animation: spin 1s linear;
}

.selected {
    border: 3px solid #be1e1e;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;    
    border: 3px solid blue;
    border-top: 3px solid red;
    border-radius: 50%;  
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}




